.main-container {
  text-align: center;
  margin: 50px;
}

.header {
  margin: 32px;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.list-item {
  list-style: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  min-width: 180px;
  background-color: #cc4141;
}
